USE [master]
GO
/****** Object:  Database [issuelog]    Script Date: 6/3/2018 11:05:55 PM ******/
CREATE DATABASE [issuelog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'issuelog', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.JOSENDB\MSSQL\DATA\issuelog.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'issuelog_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL11.JOSENDB\MSSQL\DATA\issuelog_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [issuelog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [issuelog]
GO
/****** Object:  Table [dbo].[answers]    Script Date: 6/3/2018 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[answers](
	[idAnswer] [int] NOT NULL,
	[answer] [varchar](max) NULL,
 CONSTRAINT [PK_answers] PRIMARY KEY CLUSTERED 
(
	[idAnswer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[issues]    Script Date: 6/3/2018 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[issues](
	[idIssue] [int] NOT NULL,
	[issueDesc] [varchar](max) NULL,
 CONSTRAINT [PK_issues] PRIMARY KEY CLUSTERED 
(
	[idIssue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[link]    Script Date: 6/3/2018 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[link](
	[idIssue] [int] NOT NULL,
	[idAnswer] [int] NOT NULL,
 CONSTRAINT [PK_link] PRIMARY KEY CLUSTERED 
(
	[idIssue] ASC,
	[idAnswer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
